<div class="container">
  <div class="banner-box">
    <div class="banner-image-box">
      <div class="banner-message-box">
        <h2>
          Our mission is to offer widespread, sustainable access to delicious plant-based nutrition.
        </h2>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="title-grid">
      <h2 class="title-grid-text">Keeping it green</h2>
    </div>
    <div class="grid-items">
      <div class="item recycled-items">
        <img ngSrc="../../assets/recycle-bottles.jpg" alt="recycle" height="642" width="453">
        <div class= "text-item">
          <h3>Bottled in recycled glass</h3>
          <p>We use glass bottles rather than porous plastic because it's better for you, better for the planet, and a pleasure to drink from. Don't you think?</p>
        </div>
      </div>
      <div class="item plant-based">
        <img ngSrc="../../assets/plant-based.jpg" alt="plant-based" height="642" width="611">
        <div class="text-item">
          <h3>Plant-based</h3>
          <p>All our drinks are made from plants. Placing plants at the center of our diet is a simple way to improve our health and our beloved environment.</p>
        </div>
      </div>
      <div class="item made-with-love">
        <img ngSrc="../../assets/mwl.jpg" alt="made with love" height="642" width="537">
        <div class="text-item">
          <h3>Made with love</h3>
          <p>We’re intentional about our processes and our ingredients. Health, happiness, and loving care for the earth are always our highest priorities.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="second-banner-box">
    <div class="second-banner-image-box">
      <div class="second-banner-message-box">
        <h2>
          Always organic + non-GMO
        </h2>
        <p>
          We make our beverages exclusively from organic ingredients: they're non-GMO and grown without chemical fertilizers, pesticides, or herbicides, for healthy juices and a healthy planet.
        </p>
      </div>
    </div>
  </div>
  <div class="last-banner-box">
    <div class="image-div">
      <img src="../../assets/smoothie-last-image.jpg" alt="smoothie">
    </div>
    <div class="last-banner-text">
      <h2>Freshness from farm to bottle</h2>
      <p>We’re on a mission to make healthy and sustainable the delicious new normal. Take a sip and join us.</p>
    </div>
  </div>
</div>
