<div class="container">
  <div class="content">
    <div class="quick-links">
      <h2 class="title">Quick links</h2>
      <ul class="links-list" *ngFor="let link of quickLinks">
        <li class="list-item" routerLink="/{{ link.routerLink }}">{{ link.name }}</li>
      </ul>
    </div>
    <div class="our-mission">
      <h2 class="title">Our Mission</h2>
      <p class="text">We offer sustainable access to delicious plant-based nutrition.</p>
    </div>
    <div class="logo-container">
      <img ngSrc="../../../assets/footer-logo.png" alt="Logo" class="logo" width="95" height="36">
    </div>
  </div>
  <div class="social-media">
    <i *ngFor="let icon of socialMediaIcons" class="{{ icon }}"></i>
  </div>
  <div class="footer-credit">
    <p class="copyright">© 2023, taste demo</p>
  </div>
</div>
