.container {
  background-color: white;
  display: grid;
  font-family: monospace;
  align-items: center;

  .faq {
    border: black 0.13rem solid;
    display: flex;
    flex-direction: column;
    padding: 5rem;

    .faq-title {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .faq-details {
      .dropdown-toggle {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        cursor: pointer;
        border-top: solid 0.06rem gray;
      }

      .dropdown-toggle:hover {
        background-color: #efefef;

        p {
          font-weight: bold;
          text-decoration: underline black;
        }
      }

      p {
        font-weight: 100;
        font-size: 0.8rem;
      }
    }

    .last-item {
      border-bottom: solid 0.06rem gray;
    }
  }

  @media screen and (max-width: 800px) {
    .faq {
      padding: 2rem;
    }
  }
}
