<div class="container">
  <div class="product">
    <app-product [product]="product"></app-product>
  </div>

  <div class="faq">
    <div class="faq-title">
      <span>In case you are wondering</span>
      <h2>Frequently asked questions</h2>
    </div>
    <div class="faq-details" *ngFor="let item of faq; let last = last" [ngClass]="{'last-item': last}">
      <div class="dropdown-toggle" type="button" (click)="toggleDropdown(item.question)">
        <i class="{{item.icon}}"></i>
        <p>{{ item.question }}</p>
        <i class="bi bi-chevron-down" [style.transform]="item.isOpened ? 'rotate(180deg)' : ''"></i>
      </div>
      <div class="dropdown-menu" *ngIf="item.isOpened">
        <div class="dropdown-item">
          <p>{{ item.answer }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-grid-products [gridTitle]="suggestionsGridTitle" [gridProducts]="suggestedProducts"></app-grid-products>
</div>
