.container {
  width: 100%;
  min-height: 400px;
  justify-content: space-evenly;
  font-family: monospace;

  display: flex;
  flex-direction: column;

  .back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 0.5rem;
    margin: 2rem;
    .bi-arrow-left {
      font-size: 1rem;
    }
    .back-button {
      all: unset;
      font-family: monospace;
      font-size: 1rem;
    }
  }

  .back:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .content {
    padding: 20px 7vw;
    margin: 20px;

    h2 {
      color: #333;
    }

    .user-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;

      .bi {
        font-size: 2rem;
        color: #196519;
      }

      .bi:hover {
        cursor: pointer;
      }

      .bi-x-square-fill {
        color: #f81c1c;
        font-size: 1.5rem;
      }

      th {
        border-top: 1px solid #ddd;
      }

      th, td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        width: calc(100%/5);

        & {
          border-right: 1px solid #ddd;
        }

        &:first-child {
          border-left: 1px solid #ddd;
        }
      }

      th {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      td {
        input {
          width: 100%;
          box-sizing: border-box;
          padding: 8px;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .back {
      margin: 0;
    }
    .content {
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    .content {
      h2 {
        font-size: 20px;
      }
      .user-table {
        th, td {
          font-size: 12px;
        }

        .bi {
          font-size: 1.5rem;
        }

        .bi-x-square-fill {
          font-size: 1.25rem;
        }
      }
    }
  }
}
