.container {
  font-family: monospace;


  .recipe-container {
    width: 100%;
    margin-bottom: 6rem;

    .image-container {
      display: flex;
      justify-content: center;
      .recipe-image {
        object-fit: cover;
      }
    }

    .description {
      width: 100%;
    }

    .recipe-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      align-content: center;

      padding: 0 10vw;
      background-color: white;

      .ingredients {
        font-size: 2rem;
      }

      .recipe-title {
        font-size: 50px;
      }

      .description {
        font-size: 1.5rem;
        color: dimgray;
      }

      .ingredient-list {
        font-size: 1.5rem;
        color: dimgray;
        padding-left: 23px;
        margin: 0;;

        .ing-item {
          padding-left: 0;
          margin: 1rem 0;
        }
      }

      .steps {
        font-size: 2rem;
      }

      .step-list {
        font-size: 1.5rem;
        color: dimgray;
        margin: 0;

        .step-item {
          padding-left: 0;
          margin: 1rem 0;
        }
      }
    }
  }

  .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;

    .arrow:hover {
      cursor: pointer;
    }

    .back-to-blog {
      width: 200px;
      height: 50px;
      border: none;
      font-size: 1.5rem;
      font-family: monospace;
      background-color: white;
    }

    .back-to-blog:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .back-button:hover {
    transform: scale(1.02);
  }
}

// tablet view


// recipe container

@media screen and (max-width: 768px) {
  .container {
    .recipe-container {
      .recipe-image {
        height: 450px;
      }
      .recipe-content {
        padding: 0;
        .recipe-title {
          font-size: 2rem;
        }
        .ingredients {
          font-size: 1.5rem;
        }
        .ingredient-list {
          font-size: 1.25rem;
        }
        .steps {
          font-size: 1.5rem;
        }
        .step-list {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    .recipe-container {
      .recipe-image {
        height: 300px;
      }
      .recipe-content {
        .recipe-title {
          font-size: 1.5rem;
        }
        .description {
          font-size: 1.25rem;
        }
        .ingredients {
          font-size: 1.25rem;
        }
        .ingredient-list {
          font-size: 1rem;
        }
        .steps {
          font-size: 1.25rem;
        }
        .step-list {
          font-size: 1rem;
        }
      }
    }
    .back-button {
      .back-to-blog {
        font-size: 1.25rem;
      }
    }
  }
}
