<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h2>{{ modalTitle }}</h2>
      <i class="bi bi-x-lg" (click)="onClose()"></i>
    </div>
    <div class="modal-content">
      <form [formGroup]="form">
        <p *ngIf="type === 'Recipe'">Please use the following symbol to split your steps '|'</p>
        <div *ngFor="let controlName of form.controls | keyvalue">
          <label>{{ controlName.key | camelCaseToSpace }}</label>
          <ng-container [ngSwitch]="controlName.key">
            <ng-container *ngSwitchCase="'category'">
              <select [formControlName]="controlName.key">
                <option *ngFor="let productCategory of productCategories" [value]="productCategory['id']">{{ productCategory['name']}}</option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'product'">
              <select [formControlName]="controlName.key">
                <option value="">None</option>
                <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'productImage'">
              <select [formControlName]="controlName.key">
                <option *ngFor="let productImage of productImages" [value]="productImage['imageUrl']">{{ productImage['imageName']}}</option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'recipeImage'">
              <select [formControlName]="controlName.key">
                <option *ngFor="let recipeImage of recipeImages" [value]="recipeImage['imageUrl']">{{ recipeImage['imageName']}}</option>
              </select>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input [formControlName]="controlName.key"/>
            </ng-container>
          </ng-container>
          <app-validation-messages
            [control]="form.get(controlName.key)"
          ></app-validation-messages>
        </div>
        <div class="modal-actions">
          <button (click)="onSave()" type="submit" [disabled]="form.invalid">
            Save
          </button>
          <button (click)="onClose()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
