.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px 30px;
  background: white;
  margin: -8px;

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .dropdown-toggle {
      border: none;
      background: white;
      padding: 12px;
      letter-spacing: 0.63px;
      cursor: pointer;
      .bi-chevron-down{
        padding: 0 5px;
        display: inline-block;
      }
      span:hover {
        text-decoration: underline black;
      }
      span:focus {
        text-decoration: underline black;
      }
    }
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 45px;
      border: 2px black solid;
      align-items: flex-start;
      padding: 25px 0;
      .dropdown-item {
        border: none;
        background: white;
        padding: 8px 25px;
        cursor: pointer;
      }
      span:hover {
        color: black;
      }
    }
    span {
      font-family: monospace;
      font-size: 15px;
      color: rgba(2, 9, 18, 0.75);
    }

  }

  .left-group {
    display: flex;
    gap: 20px;
  }

  .logo {
    cursor: pointer;
  }

  .action-icons {
    display: flex;
    width: 130px; // for the icons so they don't move the whole header
    button {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
    }
    i {
      padding: 12px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        font-size: 22px;
      }
    }
  }
}

.side-menu {
  width: 50px; // for the icons so they don't move the whole header
  i {
    padding: 12px;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      font-size: 24px;
    }
  }

  button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }

  .close-button {
    i {
      font-size: 20px;
    }
  }

  .menu-navigation {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 83px;
    border-right: 2px solid black;
    padding: 20px 0;
    background: white;

    .items {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding: 20px 40px;
      cursor: pointer;

      span {
        font-size: 22px;
      }

      i {
        padding: 0;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -2;
}
.active-button {
  text-decoration: underline black;
}
