.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.8rem 2rem;
  background: white;
  margin: -0.5rem;
  position: relative;
  z-index: 1000;

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .dropdown-toggle {
      border: none;
      background: white;
      padding: 0.8rem;
      letter-spacing: 0.06rem;
      cursor: pointer;

      .bi-chevron-down {
        padding: 0 0.3rem;
        display: inline-block;
      }

      span:hover {
        text-decoration: underline black;
      }

      span:focus {
        text-decoration: underline black;
      }
    }

    .dropdown-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 3rem;
      border: 0.13rem black solid;
      align-items: flex-start;
      padding: 1.6rem 0;
      background-color: white;

      .dropdown-item {
        border: none;
        background: white;
        padding: 0.5rem 1.6rem;
        cursor: pointer;
      }

      span:hover {
        color: black;
      }
    }

    span {
      font-family: monospace;
      font-size: 0.9rem;
      color: rgba(2, 9, 18, 0.75);
    }

  }

  .left-group {
    display: flex;
    gap: 1.3rem;
  }

  .logo {
    cursor: pointer;
  }

  .action-icons {
    display: flex;
    width: 8rem; // for the icons so they don't move the whole header
    button {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
    }

    i {
      padding: 0.8rem;
      font-size: 1.3rem;
      cursor: pointer;

      &:hover {
        font-size: 1.4rem;
      }
    }
  }
}

.side-menu {
  width: 4.5rem; // for the icons so they don't move the whole header
  i {
    padding: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      font-size: 1.5rem;
    }
  }

  button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }

  .close-button {
    i {
      font-size: 1.3rem;
    }
  }

  .menu-navigation {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 6.3rem;
    border-right: 2px solid black;
    padding: 1.3rem 0;
    background: white;

    .items {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      padding: 1.3rem 3rem;
      cursor: pointer;

      span {
        font-size: 1.4rem;
      }

      i {
        padding: 0;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.active-button {
  text-decoration: underline black;
}
