.back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0;
  .bi-arrow-left {
    font-size: 1rem;
  }
  .back-button {
    all: unset;
    font-family: monospace;
    font-size: 1rem;
  }
}
.back:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
}

.tables-container {
  font-family: monospace;
  display: flex;
  align-items: center;
  .content-container {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    .first-container {
      padding: 1rem;
      width: 100%;
      box-sizing: border-box;
      td {
        width: calc(100%/5);
        text-align: center;
      }
      .order-table {
        .selected {
          td {
            background-color: #cccccc;
          }
        }
        tr:hover {
          cursor: pointer;
        }
      }
    }

    .second-container {
      padding: 1rem;
      width: 100%;
      box-sizing: border-box;
      td {
        width: calc(100%/3);
        text-align: center;
      }
      .product-data {
        all: unset;
        display: flex;
        text-align: left;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
      }
    }
  }
}


div {
  margin: 20px 20px 0;
}

h2, h3 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

img {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  div {
    margin: 10px;
  }
  .tables-container {
    display: flex;
    align-items: center;
    .content-container {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 375px) {
  .tables-container {
    .content-container {
      .first-container, .second-container {
        padding: 0;
      }
    }
  }
  .tables-container {
    .content-container {
      .second-container {
        .product-data {
          flex-direction: column;
          justify-content: center;
          .product-name {
            text-align: center;
          }
        }
      }
    }
  }
}
