.container {
  display: flex;
  flex-direction: column;
  font-family: monospace;

  .category-description {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: 1rem;

    .filter-container {
      display: flex;
      gap: 1rem;
      width: 19rem;

      .dropdown-toggle {
        border: none;
        background: white;
        letter-spacing: 0.06rem;
        cursor: pointer;
        font-family: monospace;
        font-size: 0.8rem;

        .bi-chevron-down {
          padding: 0.13rem 0.3rem;
          display: inline-block;
        }

        span:hover {
          text-decoration: underline black;
        }

        span:focus {
          text-decoration: underline black;
        }
      }

      .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 0.13rem black solid;
        align-items: flex-start;
        background-color: white;
        gap: 1rem;
        padding: 1rem;

        .dropdown-item {
          border: none;
          background: white;
          cursor: pointer;
          font-family: monospace;
          font-size: 0.8rem;
        }

        .reset {
          text-decoration: underline black;
          font-weight: bold;
          align-self: flex-end;
          font-size: 0.7rem;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .filters {
      flex-direction: column;
      gap: 1.3rem;
    }
  }
}
