<div class="container">
  <div class="recipe-container">
    <img class="recipe-image" [src]="recipe.image_path" [alt]="recipe.name" height="600px" width="100%">
    <div class="recipe-content">
      <h1 class="recipe-title"> {{ recipe.name }} </h1>
      <p class="description">{{ recipe.description }}</p>
      <p class="ingredients">Ingredients</p>
      <ul class="ingredient-list">
        <li class="ing-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
      <p class="steps">Steps</p>
      <ol class="step-list" type="1">
        <li class="step-item" *ngFor="let step of recipe.steps" >{{ step }}</li>
      </ol>
    </div>
  </div>

  <div class="back-button" routerLink="/recipes">
    <span class="arrow">
      <i class="bi bi-arrow-left"></i>
    </span>
    <button class="back-to-blog">
      Back to blog
    </button>
  </div>

  <app-product *ngIf="product" [product]="product"></app-product>

</div>
