<div class="container" (keydown.escape)="closeSearchBarEmitter()">
  <div class="search-container">
    <div class="search-box">
      <input type="text" id="search" class="search-field" placeholder="Search products..." [(ngModel)]="searchText" (ngModelChange)="onSearchTextChanged()">
      <button class="close-search" (click)="closeSearchBarEmitter()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="search-dropdown" *ngIf="searchText">
      <h2 class="dropdown-title not-found" *ngIf="filteredProducts.value.length == 0">Products not found.</h2>
      <h2 class="dropdown-title" *ngIf="filteredProducts.value.length > 0">Products</h2>
      <ul class="search-list" *ngFor="let product of filteredProducts.value">
        <a routerLink="/{{ this.helperService.transformToRouterString(product.categoryCategoryName) }}/{{ product.id }}" class="item-link">
          <li class="search-list-item">
            <img [src]="product.imageUrl" [alt]="product.name" class="item-image">
            <h3 class="item-name">{{ product.name }}</h3>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>
