<div class="container">
  <div class="back" routerLink="/admin">
    <i class="bi bi-arrow-left"></i>
    <button class="back-button">
      Back
    </button>
  </div>
    <div class="content" *ngIf="users">
      <h2>User Details</h2>
      <table class="user-table">
        <tr>
          <th>User number</th>
          <th>Full name</th>
          <th>Role</th>
          <th>Switch role</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.firstName + " " + user.lastName}}</td>
          <td>{{ user.role.toLowerCase() }}</td>
          <td>
            <i class="bi bi-toggle-on" *ngIf="user.role.toLowerCase() == 'admin'" (click)="toggleUserRole(user.userId)"></i>
            <i class="bi bi-toggle-off" *ngIf="user.role.toLowerCase() == 'user'" (click)="toggleUserRole(user.userId)"></i>
          </td>
          <td>
            <i class="bi bi-x-square-fill" (click)="deleteUser(user.userId)"></i>
          </td>
        </tr>
      </table>
    </div>
</div>
